@font-face {
    font-family: SpoqaHanSans;
    src: url('./src/spoqahansans-reg.woff') format('woff')
}
@font-face {
    font-family: SpoqaHanSansBold;
    src: url('./src/spoqahansans-bold.woff') format('woff')
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    word-break: keep-all;
}

header, section, footer {
    font-family: SpoqaHanSans, sans-serif;
}

nav {
    font-family: SpoqaHanSansBold, sans-serif;
}

body, h4 {
    margin: 0;
}

.loaded {
    opacity: 0;
    transition: all 2s ease;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #aab;
}
::-webkit-scrollbar-thumb:hover {
    background: #556;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.ha {
    justify-content: center;
}
.va {
    align-items: center;
}

.content {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
}

.text-a {
    font-family: SpoqaHanSansBold;
    font-size: 4em;
}
.text-b { font-size: 2em; }
.text-c { font-size: 1.3em; }
.text-d { font-size: 1em; }
.text-box {
    font-weight: bold;
    background: black;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
}
.text-tbox {
    font-weight: bold;
    background: transparent;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
}
.text-cent {
    text-align: center;
}
.dot7 {
    font-size: 0.7em;
}
.clinks {
    color: white;
    text-decoration: none;
    text-align: center;
}
#personality a {
    font-size: 0.7em;
    color: #4a91e2;
}
#personality .text-box {
    display: inline-block;
    margin: 0 auto;
}
#pers1 .text-b {
    font-weight: bolder;
    color: black;
}

#pers1 .text-c, #specialities .text-c {
    margin-bottom: 0;
    color: black;
}
#pers2 p, #pers3 p{
    display: inline-block;
}
#pers2 .text-d, #pers3 .text-d {
    border-radius: 20px;
    border: 1.5px solid #71737a;
    padding: 5px 20px 7px;
    margin-right: 10px;
    margin-bottom: 0;
}

#about h3 {
    margin-top: 0;
}

.nametag {
    font-size: 12px;
    background: #4a91e2;
    color: #fff;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
}

.octagon {
    display: inline-block;
	position: relative;
    padding: 5px 15px;
    margin-bottom: 30px;
}
.octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29.7px solid black;
	border-left: 29.7px solid #ffffff00;
	width: 88%;
	height: 0;
}
.octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29.7px solid black;
	border-right: 29.7px solid #ffffff00;
	width: 88%;
	height: 0;
}
.octagon span {
    position: relative;
    z-index: 1;
    margin: 5px 15px;
    color: white;
}

header {
    position: fixed;
    z-index: -1;
    top: -15vh;
    width: 100%;
    height: 80vh;
    background: #eee url('./src/back.jpg');
    background-size: cover;
    background-position: bottom;
    cursor: default;
    transition: top .5s ease;
}
header .content {
    height: 50vh;
}
header .text-a {
    color: #fff;
}

nav {
    position: sticky;
    z-index: 2;
    top: 0;
    margin-top: 50vh;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
}

#menu-list {
    height: 48px;
    justify-content: space-between;
}
#menu-left, #menu-right {
    flex-basis: 380px;
}
#menu-center {
    width: 72px;
    flex-shrink: 0;
}
#menu-right {
    justify-content: flex-end;
}

.menu-button {
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 17px;
    text-decoration: none;
    color: #555;
}
.menu-button:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}
#menu-center img {
    width: 36px;
}
#menu-right img {
    width: 20px;
    vertical-align: middle;
}

section {
    background-image: linear-gradient(45deg, #f2f2f4 4.55%, #f8f8fa 4.55%, #f8f8fa 50%, #f2f2f4 50%, #f2f2f4 54.55%, #f8f8fa 54.55%, #f8f8fa 100%);
    background-size: 15.56px 15.56px;
    transition: background 1s ease;
}
section h2 {
    color: #31333a;
}
section p {
    color: #71737a;
}

.sec-cont {
    padding: 20px 0;
}
.sec-cont:not(#about) {
    min-height: 100vh;
}
#social.sec-cont {
    min-height: 0vh;
}

.sbox-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    transition: all 2s ease;
}
#about-social.sbox-cont, #keywords .sbox-cont {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#about-social {
    margin-bottom: 30px;
}
#specialities .sbox-cont {
    grid-template-columns: 1fr 1fr 1fr;
}

.sbox {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 1);
    transition: border .5s ease;
    
    overflow: hidden;
}
.sbox.link {
    cursor: pointer;
}
.sbox.link:hover {
    border: 1px solid #aaa;
}
.sbox-img {
    height: 200px;
    background-size: cover;
    background-position: center;
}
#about-social .sbox {
    padding: 10px;
}
#about .sbox {
    white-space: nowrap;
}
#keywords .sbox {
    text-align: center;
    white-space: nowrap;
}
#pers1.sbox { grid-area: 1 / 1 / 3 / 2; }
#pers2.sbox { grid-area: 1 / 2 / 2 / 3; }
#pers3.sbox { grid-area: 2 / 2 / 3 / 3; }

#sbox-froggymemo {
    background-image: url('./src/froggymemo.png');
}
#sbox-tools {
    background-image: url('./src/tools.png');
}

#about-social .clinks:before {
    content: "";
    display: inline-block;
    background-size: 1.25em;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 0.4em;
    width: 1.25em;
    height: 1.25em;
}
#social-blog {color: black;}
#social-notion {background-color: #191919;}
#social-github {background-color: #0d1117;}
#social-insta {background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);}
#social-kakao {background-color: #ffe942;color:black;}
#social-telegram {background-color: #229bdb;}
#social-youtube {background-color: red;}
#social-email {background-color: #555;}
#social-blog:before {background-image: url(./src/blog.png);}
#social-notion:before {background-image: url(./src/notion.svg);}
#social-github:before {background-image: url(./src/github.svg);}
#social-insta:before {background-image: url(./src/insta.svg);}
#social-kakao:before {background-image: url(./src/kakao.svg);}
#social-telegram:before {background-image: url(./src/telegram.svg);}
#social-youtube:before {background-image: url(./src/youtube.svg);}
#social-email:before {background-image: url(./src/email.svg);}

.trace-cont {
    position: relative;
}
.trace-cont::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: lightgray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.trace-box {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}
.trace-box::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.trace-box.trace-present::after {
    border: 4px solid #4a91e2;
}
.trace-box.trace-future::after {
    border: 4px solid lightgray;
}
.trace-box::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}
.trace-left {
    left: 0;
}
.trace-left::before {
    right: 30px;
    border: medium solid #fff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}
.trace-right {
    left: 50%;
}
.trace-right::before {
    left: 30px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}
.trace-right::after {
    left: -16px;
}
#trace h2 { margin: 0 auto; }
#trace p { margin-bottom: 0; }
.get-time-since { font-weight: lighter; }

#specialities img {
    margin-top: 10px;
    width: 64px;
    height: 64px;
}
#specialities ul {
    padding: 0 0 0 20px;
}
#specialities li {
    color: #71737a;
}

footer {
    height: 150px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
    color: #99a;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    #menu-left {
        display: none;
    }

    .content {
        padding: 0 10px;
    }

    .sbox-cont {
        grid-template-columns: 1fr;
    }
    #specialities .sbox-cont {
        grid-template-columns: 1fr;
    }
    #about-social.sbox-cont, #keywords .sbox-cont {
        grid-template-columns: 1fr 1fr;
    }

    #pers1.sbox { grid-area: 1 / 1 / 2 / 2; }
    #pers2.sbox { grid-area: 2 / 1 / 3 / 2; }
    #pers3.sbox { grid-area: 3 / 1 / 4 / 2; }

    .trace-cont::after {
        left: 31px;
    }
    .trace-box {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .trace-box::before {
        left: 30px;
        border: medium solid #fff;
        border-width: 10px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
    }
    .trace-box::after {
        left: 15px;
    }
    .trace-right {
        left: 0;
    }
}
